In [1]:
import pandas as pd
import numpy as np

import matplotlib.pyplot as plt
import seaborn as sns

%matplotlib inline

In [2]:
df = pd.read_excel('df_people.xlsx')
df.tail()

,URI,name,text
59066,<http://dbpedia.org/resource/Olari_Elts>,Olari Elts,olari elts born april 27 1971 in tallinn eston...
59067,<http://dbpedia.org/resource/Scott_F._Crago>,Scott F. Crago,scott francis crago born july 26 1963 twin bro...
59068,<http://dbpedia.org/resource/David_Cass_(footb...,David Cass (footballer),david william royce cass born 27 march 1962 in...
59069,<http://dbpedia.org/resource/Keith_Elias>,Keith Elias,keith hector elias born february 3 1972 in lac...
59070,<http://dbpedia.org/resource/Fawaz_Damrah>,Fawaz Damrah,fawaz mohammed damrah arabic fawwz damra was t...

In [3]:
len(df)

59071

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 59071 entries, 0 to 59070
Data columns (total 3 columns):
URI     59071 non-null object
name    59071 non-null object
text    59071 non-null object
dtypes: object(3)
memory usage: 1.4+ MB

In [5]:
df['text'] = df['text'].astype(str)

In [6]:
df['text'][0]

'digby morrell born 10 october 1979 is a former australian rules footballer who played with the kangaroos and carlton in the australian football league aflfrom western australia morrell played his early senior football for west perth his 44game senior career for the falcons spanned 19982000 and he was the clubs leading goalkicker in 2000 at the age of 21 morrell was recruited to the australian football league by the kangaroos football club with its third round selection in the 2001 afl rookie draft as a forward he twice kicked five goals during his time with the kangaroos the first was in a losing cause against sydney in 2002 and the other the following season in a drawn game against brisbaneafter the 2003 season morrell was traded along with david teague to the carlton football club in exchange for corey mckernan he played 32 games for the blues before being delisted at the end of 2005 he continued to play victorian football league vfl football with the northern bullants carltons vflaffiliate in 2006 and acted as playing assistant coach in 2007 in 2008 he shifted to the box hill hawks before retiring from playing at the end of the season from 2009 until 2013 morrell was the senior coach of the strathmore football club in the essendon district football league leading the club to the 2011 premier division premiership since 2014 he has coached the west coburg football club also in the edflhe currently teaches physical education at parade college in melbourne'

### Exploration des donn√©es

In [7]:
obama=df[df["name"]=="Barack Obama"].reset_index()

In [8]:
obama['text'][0].lower()

'barack hussein obama ii brk husen bm born august 4 1961 is the 44th and current president of the united states and the first african american to hold the office born in honolulu hawaii obama is a graduate of columbia university and harvard law school where he served as president of the harvard law review he was a community organizer in chicago before earning his law degree he worked as a civil rights attorney and taught constitutional law at the university of chicago law school from 1992 to 2004 he served three terms representing the 13th district in the illinois senate from 1997 to 2004 running unsuccessfully for the united states house of representatives in 2000in 2004 obama received national attention during his campaign to represent illinois in the united states senate with his victory in the march democratic party primary his keynote address at the democratic national convention in july and his election to the senate in november he began his presidential campaign in 2007 and after a close primary campaign against hillary rodham clinton in 2008 he won sufficient delegates in the democratic party primaries to receive the presidential nomination he then defeated republican nominee john mccain in the general election and was inaugurated as president on january 20 2009 nine months after his election obama was named the 2009 nobel peace prize laureateduring his first two years in office obama signed into law economic stimulus legislation in response to the great recession in the form of the american recovery and reinvestment act of 2009 and the tax relief unemployment insurance reauthorization and job creation act of 2010 other major domestic initiatives in his first term included the patient protection and affordable care act often referred to as obamacare the doddfrank wall street reform and consumer protection act and the dont ask dont tell repeal act of 2010 in foreign policy obama ended us military involvement in the iraq war increased us troop levels in afghanistan signed the new start arms control treaty with russia ordered us military involvement in libya and ordered the military operation that resulted in the death of osama bin laden in january 2011 the republicans regained control of the house of representatives as the democratic party lost a total of 63 seats and after a lengthy debate over federal spending and whether or not to raise the nations debt limit obama signed the budget control act of 2011 and the american taxpayer relief act of 2012obama was reelected president in november 2012 defeating republican nominee mitt romney and was sworn in for a second term on january 20 2013 during his second term obama has promoted domestic policies related to gun control in response to the sandy hook elementary school shooting and has called for full equality for lgbt americans while his administration has filed briefs which urged the supreme court to strike down the defense of marriage act of 1996 and californias proposition 8 as unconstitutional in foreign policy obama ordered us military involvement in iraq in response to gains made by the islamic state in iraq after the 2011 withdrawal from iraq continued the process of ending us combat operations in afghanistan and has sought to normalize us relations with cuba'

In [9]:
cloony=df[df['name']=='George Clooney'].reset_index()
cloony['text'][0]

'george timothy clooney born may 6 1961 is an american actor writer producer director and activist he has received three golden globe awards for his work as an actor and two academy awards one for acting and the other for producingclooney made his acting debut on television in 1978 and later gained wide recognition in his role as dr doug ross on the longrunning medical drama er from 1994 to 1999 for which he received two emmy award nominations while working on er he began attracting a variety of leading roles in films including the superhero film batman robin 1997 and the crime comedy out of sight 1998 in which he first worked with a director who would become a longtime collaborator steven soderbergh in 1999 clooney took the lead role in three kings a wellreceived war satire set during the gulf warin 2001 clooneys fame widened with the release of his biggest commercial success the heist comedy oceans eleven the first of the film trilogy a remake of the 1960 film with frank sinatra as danny ocean he made his directorial debut a year later with the biographical thriller confessions of a dangerous mind and has since directed the drama good night and good luck 2005 the sports comedy leatherheads 2008 the political drama the ides of march 2011 and the comedydrama war film the monuments men 2014he won an academy award for best supporting actor for the middle east thriller syriana 2005 and subsequently earned best actor nominations for the legal thriller michael clayton 2007 the comedydrama up in the air 2009 and the drama the descendants 2011 in 2013 he received the academy award for best picture for producing the political thriller argo alongside ben affleck and grant heslov he is the only person ever to be nominated for academy awards in six categoriesclooney is sometimes described as one of the most handsome men in the world in 2005 tv guide ranked clooney no 1 on its 50 sexiest stars of all time list in 2009 he was included in times annual time 100 as one of the most influential people in the world clooney is also noted for his political activism and has served as one of the united nations messengers of peace since january 31 2008 his humanitarian work includes his advocacy of finding a resolution for the darfur conflict raising funds for the 2010 haiti earthquake 2004 tsunami and 911 victims and creating documentaries such as sand and sorrow to raise awareness about international crises he is also a member of the council on foreign relations'

In [10]:
from nltk.corpus import stopwords
#from nltk import word_tokenize

import string
#from string import punctuation

from sklearn.feature_extraction.text import CountVectorizer

In [11]:
def text_process(mess):
    """
    Takes in a string of text, then performs the following:
    1. Remove all punctuation
    2. Remove all stopwords
    3. Returns a list of the cleaned text
    """
    # Check characters to see if they are in punctuation
    nopunc = [char for char in mess if char not in string.punctuation]

    # Join the characters again to form the string.
    nopunc = ''.join(nopunc)
    
    # Now just remove any stopwords
    return [word for word in nopunc.split() if word.lower() not in stopwords.words('english')]

In [13]:
#df['com'] = df['text'][1:20].apply(text_process)

In [12]:
obama['text'].apply(text_process)

0    [barack, hussein, obama, ii, brk, husen, bm, b...
Name: text, dtype: object

In [13]:
obama['com']= obama['text'].apply(text_process)

In [14]:
cv = CountVectorizer(analyzer=text_process).fit(obama['com'])

In [18]:
from collections import Counter
count = Counter(obama['com'][0])
print(count.most_common(20))

[('obama', 9), ('act', 8), ('us', 6), ('law', 6), ('military', 4), ('control', 4), ('iraq', 4), ('democratic', 4), ('president', 4), ('2009', 3), ('january', 3), ('first', 3), ('party', 3), ('signed', 3), ('american', 3), ('election', 3), ('senate', 3), ('involvement', 3), ('states', 3), ('school', 3)]

In [22]:
stop_words = stopwords.words('english')

In [24]:
import re

df['com'] = df['text'].map(lambda x: re.sub('['+string.punctuation+']', '', x))
df['com'] = df['com'].map(lambda x : [word for word in x.split() if not word.lower() in stop_words])

In [25]:
import re
def tokenize(mess):
    nopunc = re.sub('['+string.punctuation+']', '', mess)
    return [word for word in nopunc.split() if not word.lower() in stopwords.words('english')]

In [27]:
df['text'][1:10].apply(tokenize)

1    [alfred, j, lewy, aka, sandy, lewy, graduated,...
2    [harpdog, brown, singer, harmonica, player, ac...
3    [franz, rottensteiner, born, waidmannsfeld, lo...
4    [henry, krvits, born, 30, december, 1974, tall...
5    [sam, henderson, born, october, 18, 1969, amer...
6    [aaron, lacrate, american, music, producer, re...
7    [trevor, ferguson, aka, john, farrow, born, 11...
8    [grant, nelson, born, 27, april, 1971, london,...
9    [cathy, caruth, born, 1955, frank, h, rhodes, ...
Name: text, dtype: object

In [28]:
df['text'][1:10].apply(text_process)

1    [alfred, j, lewy, aka, sandy, lewy, graduated,...
2    [harpdog, brown, singer, harmonica, player, ac...
3    [franz, rottensteiner, born, waidmannsfeld, lo...
4    [henry, krvits, born, 30, december, 1974, tall...
5    [sam, henderson, born, october, 18, 1969, amer...
6    [aaron, lacrate, american, music, producer, re...
7    [trevor, ferguson, aka, john, farrow, born, 11...
8    [grant, nelson, born, 27, april, 1971, london,...
9    [cathy, caruth, born, 1955, frank, h, rhodes, ...
Name: text, dtype: object

In [195]:
#bow_transformer = CountVectorizer(analyzer=tokenize).fit(df['text'])

#from sklearn.feature_extraction.text import TfidfVectorizer
#tfidf_vectorizer = TfidfVectorizer(tokenizer=tokenize,max_df=0.95, min_df=2, max_features=100000)
#tfidf = tfidf_vectorizer.fit_transform(df["text"])

In [29]:
df.head()

,URI,name,text,com
0,<http://dbpedia.org/resource/Digby_Morrell>,Digby Morrell,digby morrell born 10 october 1979 is a former...,"[digby, morrell, born, 10, october, 1979, form..."
1,<http://dbpedia.org/resource/Alfred_J._Lewy>,Alfred J. Lewy,alfred j lewy aka sandy lewy graduated from un...,"[alfred, j, lewy, aka, sandy, lewy, graduated,..."
2,<http://dbpedia.org/resource/Harpdog_Brown>,Harpdog Brown,harpdog brown is a singer and harmonica player...,"[harpdog, brown, singer, harmonica, player, ac..."
3,<http://dbpedia.org/resource/Franz_Rottensteiner>,Franz Rottensteiner,franz rottensteiner born in waidmannsfeld lowe...,"[franz, rottensteiner, born, waidmannsfeld, lo..."
4,<http://dbpedia.org/resource/G-Enka>,G-Enka,henry krvits born 30 december 1974 in tallinn ...,"[henry, krvits, born, 30, december, 1974, tall..."

In [34]:
from sklearn.feature_extraction.text import CountVectorizer
count_vect = CountVectorizer(stop_words='english') #, min_df=.0025, max_df=.1, ngram_range=(1,2)  analyzer=tokenize
counts = count_vect.fit_transform(df["text"])

In [35]:
from sklearn.feature_extraction.text import TfidfTransformer
tfidf = TfidfTransformer()
res = tfidf.fit_transform(counts)
res.shape

(59071, 548116)

In [36]:
#print(counts)
print(tfidf)

TfidfTransformer(norm='l2', smooth_idf=True, sublinear_tf=False, use_idf=True)

In [37]:
weights = np.asarray(res.mean(axis=0)).ravel().tolist()
weights_df = pd.DataFrame({'term': count_vect.get_feature_names(), 'weight': weights})
weights_df.sort_values(by='weight', ascending=False).head(10)

              term    weight
509446  university  0.017892
349507         new  0.014489
340896       music  0.012660
96562         born  0.011502
197103        film  0.011008
386789      played  0.010860
293373      league  0.010484
439002      season  0.010132
345487    national  0.010078
323329      member  0.010029

### Examine the TF-IDF for the obama article

In [38]:
obama

,index,URI,name,text,com
0,35817,<http://dbpedia.org/resource/Barack_Obama>,Barack Obama,barack hussein obama ii brk husen bm born augu...,"[barack, hussein, obama, ii, brk, husen, bm, b..."

In [39]:
res[obama['index'][0]]

<1x548116 sparse matrix of type '<class 'numpy.float64'>'
	with 229 stored elements in Compressed Sparse Row format>

In [40]:
weights_obama = np.asarray(res[obama['index'][0]].mean(axis=0)).ravel().tolist()
weights_df = pd.DataFrame({'term': count_vect.get_feature_names(), 'weight': weights_obama})
weights_df.sort_values(by='weight', ascending=False).head(10)

               term    weight
358379        obama  0.413495
45070           act  0.282170
259086         iraq  0.171970
292369          law  0.163903
138523      control  0.149369
365250      ordered  0.138633
328424     military  0.135368
155872   democratic  0.129792
417605     response  0.124821
258531  involvement  0.124821

### Manually compue distances between a few people

In [41]:
clinton = df[df['name'] == 'Bill Clinton'].reset_index()
beckham = df[df['name'] == 'David Beckham'].reset_index()

In [58]:
clinton

,index,URI,name,text,com
0,36452,<http://dbpedia.org/resource/Bill_Clinton>,Bill Clinton,william jefferson bill clinton born william je...,"[william, jefferson, bill, clinton, born, will..."

In [61]:
beckham

,index,URI,name,text,com
0,23386,<http://dbpedia.org/resource/David_Beckham>,David Beckham,david robert joseph beckham obe bkm born 2 may...,"[david, robert, joseph, beckham, obe, bkm, bor..."

In [62]:
obama

,index,URI,name,text,com
0,35817,<http://dbpedia.org/resource/Barack_Obama>,Barack Obama,barack hussein obama ii brk husen bm born augu...,"[barack, hussein, obama, ii, brk, husen, bm, b..."

### Is Obama closer to clinton than Beckham ?

#### Cosinus similatity

In [63]:
weights_clinton = np.asarray(res[clinton['index'][0]].mean(axis=0)).ravel().tolist()
weights_backham = np.asarray(res[beckham['index'][0]].mean(axis=0)).ravel().tolist()

In [64]:
import math
def cosine_similarity(vector1, vector2):
    dot_product = sum(p*q for p,q in zip(vector1, vector2))
    magnitude = math.sqrt(sum([val**2 for val in vector1])) * math.sqrt(sum([val**2 for val in vector2]))
    if not magnitude:
        return 0
    return dot_product/magnitude

In [65]:
cosine_similarity(weights_obama,weights_clinton)

0.1889671769924247

In [67]:
cosine_similarity(weights_obama, weights_backham)

0.025565811271508747

#### Cosinus Distance

In [74]:
from sklearn.metrics.pairwise import cosine_similarity, cosine_distances

In [72]:
cosine_similarity(weights_obama,weights_clinton)

0.1889671769924247

In [73]:
cosine_similarity(weights_obama, weights_backham)

0.025565811271508747

## Applying the nearest neighbors model for retrieval

In [76]:
res.shape

(59071, 548116)

In [75]:
from sklearn.neighbors import NearestNeighbors

In [77]:
nbrs = NearestNeighbors(n_neighbors=12).fit(res)

In [78]:
def get_closest_neighs(name):
    #row = df.index.get_loc(name)
    row = df[df['name']==name].reset_index()['index']
    distances, indices = nbrs.kneighbors(res.getrow(row[0]))
    names_similar = pd.Series(indices.flatten()).map(df.reset_index()['name'])
    result = pd.DataFrame({'distance':distances.flatten(), 'name':names_similar})
    return result

In [79]:
#row = df[df['name']=='Bill Clinton'].reset_index()['index']
#nbrs.kneighbors(res.getrow(row[0]))

print(get_closest_neighs('Barack Obama'))

    distance                     name
0   0.000000             Barack Obama
1   1.165145                Joe Biden
2   1.207369           Samantha Power
3   1.219640   Hillary Rodham Clinton
4   1.222509  Eric Stern (politician)
5   1.236178             Robert Gibbs
6   1.243057             Henry Waxman
7   1.244667   Jesse Lee (politician)
8   1.248296              Eric Holder
9   1.251607          Joe the Plumber
10  1.252633              Artur Davis
11  1.254733            Phil Schiliro

In [80]:
print(get_closest_neighs('Taylor Swift'))

    distance              name
0   0.000000      Taylor Swift
1   1.183004  Carrie Underwood
2   1.187754          Al Swift
3   1.193938        Ed Sheeran
4   1.197285        Tim McGraw
5   1.199189    Kelly Clarkson
6   1.199790             Adele
7   1.204965        Bill Swift
8   1.207081      Dolly Parton
9   1.208139        Joss Stone
10  1.210974   Miranda Lambert
11  1.215632      Ricky Martin

In [82]:
print(get_closest_neighs('Arnold Schwarzenegger'))

    distance                      name
0   0.000000     Arnold Schwarzenegger
1   1.259683             Bonnie Garcia
2   1.263233  Paul Grant (bodybuilder)
3   1.283846                Gray Davis
4   1.284463              James Tramel
5   1.285100            Abel Maldonado
6   1.293240           Bruce McPherson
7   1.294107           Charlene Zettel
8   1.301621             Russell Gould
9   1.301828              David Israel
10  1.303416                Peter Pilz
11  1.307361            John Garamendi